-load i18n

%h4
  -blocktrans
    As a last step you'll need to configure your USSD API to send requests to the API URL provided.

%b
  -trans "Make sure CGI parameters sent are correct."

%pre
  :escaped
    ######################################################################
    # {{channel.address}} - {{channel.org.name}} configs for
    ######################################################################


    Your USSD Service Code: {{channel.address}}
    The endpoint URL on RapidPro: "https://{{ channel.callback_domain }}{% url 'courier.us' channel.uuid 'receive' %}?sessionID=THE_SESSION_ID&from=SENDER&ussdString=THE_USSD_STRING&messageID=OPTIONAL_MESSAGE_ID&to=USSD_CODE"

- if channel.config.ussd_push_url
  %b
    -trans "USSD PUSH API Calls"
  %pre
    :escaped
      Your USSD PUSH API URL will be called using HTTP GET as:
      {{channel.config.ussd_push_url}}?to=RECIPIENT&message=MESSAGE&respond=RESPONSE-REQUESTED-FLAG
      the RESPONSE-REQUESTED-FLAG will be set to "yes" if a subscriber response is required (i.e. continuing USSD session)
      otherwise it will be set to "no"
